body{
    font-family: 'Poppins', sans-serif;
}
.dif-style{
    font-family: 'Orelega One', cursive;   
    font-size: 200%;
}
.first-sec{
    display:flex;
    padding: 70px 70px;
    margin-bottom: 100px;
}
.border-clr{
    border-left: 3px solid;
    border-color:rgba(230, 56, 90, 0.726) ;
    border-radius: 4px 4px;
}
.hadding-pad{
    margin-left: 15px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,orange);
    padding: 10px 30px;
    color: cornsilk;
    font-weight:600;
    border-radius: 5px;
}
.mission-head{
    text-align: center;
    font: 500;
    font-weight: 700;
}