body{
    font-family: 'Poppins', sans-serif;
}
.dif-style{
    font-family: 'Orelega One', cursive;   
    font-size: 200%;
}
#color-head {
    color: tomato;
}
.first-sec{
    display:flex;
    padding: 70px 70px;
    margin-bottom: 100px;
    margin-left: 25px;
}
.border-clr{
    border-left: 3px solid;
    border-color:rgba(230, 56, 90, 0.726) ;
    border-radius: 4px 4px;
}
.hadding-pad{
    margin-left: 15px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,orange);
    padding: 10px 30px;
    color: cornsilk;
    font-weight:600;
    border-radius: 5px;
}
.mission-head{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color:teal;
}
#new-color{
    color: rgb(18, 59, 59);
}
.second-sec{
    display: flex;
    padding: 20px 100px 100px;
}
.second-sec img{
    width: 50%;
}
.first-indiv{
    background-color: rgb(233, 237, 245);
    border-radius: 25px;
    padding: 7px 30px;
    margin-right: 3%;
}
#middle-back{
    background-color: rgb(252, 232, 232);
}
#last-back{
    background-color: rgb(236, 253, 219);
}
.secnd-last{
    display: flex; 
    margin: 3%;
    padding: 70px;
}
.big-img{
    width: 350px;
    height: 350px;
}
.almost-last{
    padding: 30px 60px;
}
.last-part{
    padding: 10px 20px;
}
footer p{
    text-align: center;
}
.image-background{
   background-color: dimgrey;
   width: 100%;
   
}
